<!DOCTYPE html>

<html>
   <head>
      <title>File upLoader</title>

      <link href="/public/style.css" rel="stylesheet" type="text/css">

         
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
            
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
    <link rel="stylesheet" href="style.css">
    
   </head>

   <body ng-app="app" ng-controller="ctrl">

     
   




    <!-- <div ng-view>

    </div> -->

    <div class="header">
     File UpLoader
    </div>


    <div class="center">
        

         <div class="addFile">

       
            <form enctype="multipart/form-data" method="POST" action="/api/addFile" >

            <!-- method="POST" action="/api/fileanalyse" -->
             <p>    Please Upload a File ...  </p>
            <!-- <div class="mb-3">
             <label for="upfile" class="form-label">File</label>
           
            </div> -->

            <div class="mb-3">
              <label for="file" class="form-label">upLoad</label>
              <input id="inputfield" type="file" name="upfile">
             <input id="button" type="submit" value="Upload"  ng-click="getFiles()">
             <!-- ng-click="addFile()" ng-click="getFiles()"-->
            </div>
            </form>
          </div>
   
        <div class="allFiles">
          <div class="search">
            search by <input type="text" ng-model="searchedFile">
          </div>
      
          
           
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">File Name</th>
                 <th scope="col">type</th>
                 <th scope="col">Size</th>
                 <th scope="col">Delete</th>
                </tr>
              </thead>
             <tbody>
               <tr  ng-repeat="file in theFile | filter: searchedFile">
                <!-- <th scope="row">1</th> -->
                  <td>{{file.name}}</td>
                  <td>{{file.type}}</td>
                  <td>{{file.size}}</td>
                  <td><button class="btn btn-danger" ng-click="deleteFile(file.name)">Delete</button></td>
                </tr>
              </tbody>
           </table>
        
          </div>

    </div>

    <div class="footer">
      <div class="footer"> 
        <span>Made by : </span>
        <a class="icons" href="https://github.com/yohanes44" target="__blank"><ion-icon name="logo-github"></ion-icon></a>
        <a class="icons" href="https://www.linkedin.com/in/yohanes-debebe-76024a209" target="__blank"><ion-icon name="logo-linkedin"></ion-icon></a>
        <span>Yohanes</span>
        <script type="text/javascript" src="myScript.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </div>

    </div>
  

 <script>
      


  
        var app = angular.module("app", []);

        app.controller("ctrl", ["$scope", "$http", function($scope, $http){

          $scope.relod= function(){
            
          }
 
          $scope.theFile;
             $scope.getFiles = function(){
             console.log("file posted");
            
                                                     
                 $http.get("http://localhost:3000/api/fileanalyse").then(function success(response){            
                  // JSON.stringify($scope.file)
                     $scope.theFile = response.data;

                        console.log(response.data);
            
                     },function failer(response){

                        $scope.theFile = response.data;
                      
                 })
             
                   }

          $scope.deleteFile = function(nm){
            const obj = {
              nameDelete: nm
            }


            for( var i = 0; i < $scope.theFile.length; i++){ 
                                    
                                    if ( $scope.theFile[i].name ==nm ) { 
                                     $scope.theFile.splice(i, 1); 
                                        i--; 
                                        $scope.getFiles();
                                    }
                            }

            $http.post("http://localhost:3000/api/deleteFile", JSON.stringify(obj)).then(function success(response){            


                           for( var i = 0; i < $scope.theFile.length; i++){ 
                                    
                                   if ( $scope.theFile[i].name ==nm ) { 
                                    $scope.theFile.splice(i, 1); 
                                       i--; 
                                       $scope.getFiles();
                                   }
                           }

                         $scope.getFiles();

            
                     },function failer(response){
                      
                 })


                }
     

    

        }])



    </script>  

   </body>


  
</html>
